* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 18px;
}

html {
    background: url(screenshots/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(4px);
}

body {
    height: 100vh;
    padding: 0;
}

div.centered {
    width: 80%;
    background: rgb(196, 196, 196);
    margin: auto;
}

#navbar {
    border-radius: 0px 0px 30px 30px;
}

#navbar h1 {
    padding: 5%;
    text-align: center;
    font-style: italic;
    font-size: 40px;
}

#navbar ul, li {
    display: inline;
}

#navbar ul {
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
}

#navbar ul li {
    padding: 0 2%;
    font-size: 18px;
}

#content {
    margin-top: 3%;
    border-radius: 30px;
}

#content p {
    padding: 3%;
}

#content h3 {
    padding-bottom: 3%;
    text-align: center;
    font-style: italic;
}

.slideshow {
    background-color: rgb(227, 227, 227);
    padding: 1%;
    border-radius: 10px;
    max-width: 60%;
    height: auto;
    margin: auto;
}

div.slideshow img {
    width: 100%;
    display: block;
}

#footer {
    margin-top: 3%;
    border-radius: 30px 30px 0px 0px;
    bottom: 0;
}

#footer p {
    text-align: right;
    padding: 2%;
}

.location_wrapper {
    display: flex;
    align-items: flex-start;
    margin: 0% 3%;
}

.image_text_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.image_map_container {
    min-width: 416px;
    max-width: 416px;
    float: left;
    padding-right: 3%;
}

.locations_information {
    width: 100%;
    height: auto;
    background-color: rgb(227, 227, 227);
    padding: 1%;
    border-radius: 10px;
}

.locations_information img {
    padding-left: 0%;
    width: 100%;
    height: auto;
}

.image_text_container p {
    padding: 3%;
}

#content .image_text_container p.right {
    padding: 3% 9% 3% 3%;
    text-align: left;
}

#content .image_text_container p.left {
    padding: 3% 3% 3% 9%;
    text-align: right;
}

.image_text_container img {
    width: 30%;
    height: auto;
    padding: 0% 3%;
}

span.question {
    font-weight: bold;
}

span.quote {
    font-style: italic;
}

.video_wrapper_inner {
    position: relative;
    height: 0;
    min-width: 60%;
    margin: auto;
    padding-bottom: 56.25%; /* 16:9 */
    overflow: hidden;
}

.video_wrapper_outer {
    width: 100%;
    margin: auto;
}

.video_wrapper_inner iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img#image_map_picture {
    min-width: 416px;
    min-height: 600px;
    padding: 0 3% 3% 0;
}

.contact_wrapper {
    margin: 0% 3%;
    padding: 0% 1%;
    background-color: rgb(227, 227, 227);
    border-radius: 10px;
}

#submit_button {
    padding: 0.5%;
}

input {
    margin: 2% 0%;
}