* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 18px;
}

html {
    background: url(screenshots/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(4px);
}

body {
    height: 100vh;
    padding: 0;
}

div.centered {
    width: 80%;
    background: rgb(196, 196, 196);
    margin-left: 10%;
    margin-right: 10%;
}

#navbar {
    border-radius: 0px 0px 30px 30px;
}

#navbar h1 {
    padding: 5%;
    text-align: center;
    font-style: italic;
    font-size: 40px;
}

#navbar ul, li {
    display: inline;
}

#navbar ul {
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
}

#navbar ul li {
    padding: 0 2%;
    font-size: 18px;
}

#content {
    margin-top: 3%;
    border-radius: 30px;
}

#content p {
    padding: 3%;
}

#content h3 {
    padding-bottom: 3%;
    text-align: center;
    font-style: italic;
}

div.slideshow img {
    display: block;
    max-width: 60%;
    margin: auto;
}

#footer {
    margin-top: 3%;
    border-radius: 30px 30px 0px 0px;
    bottom: 0;
}

#footer p {
    text-align: right;
    padding: 2%;
}

.image_text_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.image_text_container p {
    vertical-align: ;
}

.image_text_container img {
    width: 30%;
    height: auto;
    padding: 3%;
}

span.question {
    font-weight: bold;
}