html, body {
    height: 100%;
}

body {
    margin: 0px;
}

.bg_image {
    background: url(screenshots/gallery_sc7.jpg) no-repeat center center fixed;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 100%;
    width: 100%;
    filter: blur(4px);
}